body{
  background: gray;
}

nav{
  background: blue;
  border: 2px solid red;
  color: white;
  /*position: relative;*/
  height: 15%;
  text-align: right;
}

li{
  list-style: none;
  position: relative;
  display: inline-block;
  border: 2px solid black;
  padding: 3px;
}
