body{
  width: 99%;
  background: gray;
}

nav{
  background: blue;
  border: 2px solid red;
  color: white;
  /*position: relative;*/
  height: 15%;
  text-align: right;
}

li{
  list-style: none;
  position: relative;
  display: inline-block;
  border: 2px solid black;
  padding: 3px;
}

aside{
  border: 2px solid black;
  width: 10%;
}
aside p{
  text-align: center;
}
aside ul li{
  margin: 2px;
}

#category-list{
  display: inline-block;
  position: relative;
  padding: 5px;
  margin: 2px;
}
