@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

header,section,footer,aside,nav,article,figure,figcaption,hgroup{
  display: block;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1.5px;
}

#main-header {
  background: #333;
  color: white;
  height: 80px;
}

#main-header a {
  color: white;
}

/*
 * Logo
 */
#logo-header {
  float: left;
  padding: 15px 0 0 20px;
  text-decoration: none;
}
#logo-header:hover {
  color: #0b76a6;
}

#logo-header .site-name {
  display: block;
  font-weight: 700;
  font-size: 1.2em;
}

#logo-header .site-desc {
  display: block;
  font-weight: 300;
  font-size: 0.8em;
  color: #999;
}


/*
 * Navegación
 */
nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
}

nav ul li a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background: #0b76a6;
}

li{
  list-style: none;
  position: relative;
  display: inline-block;
  /* border: 2px solid black; */
  padding: 3px;
}

aside{
  /* border: 2px solid black; */
  width: 10%;
}
aside h2{
  text-align: center;
}
aside ul li{
  margin: 2px;
}

#category-list{
  display: inline-block;
  position: relative;
  padding: 5px;
  margin: 2px;
}
.contenedor{
  margin: auto;
  width: 89%;
}
footer{
  clear: both;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #999999;
  background: rgb(176, 190, 197);

}

.copy{
  text-align: center;
  position: relative;
}
